In [17]:
from pathlib import Path
from ThreeWToolkit.dataset import ParquetDataset, DatasetConfig
from ThreeWToolkit.core.base_dataset import EventPrefixEnum

In [4]:
dataset_path = Path("./dataset")

ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet") # load all files, target defaults to 'class'
ds = ParquetDataset(ds_config, download=True) # download

3w_dataset_2.0.0.zip: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████| 1.79G/1.79G [38:09<00:00, 784kB/s]

In [7]:
# number of loaded events
len(ds)

2228

In [8]:
# dictionary keys:
print(list(ds[0].keys()))

['signal', 'label']

In [9]:
ds[0]['signal']

                     ABER-CKGL  ABER-CKP  ESTADO-DHSV  ...  T-PDG       T-TPT  state
timestamp                                              ...
2018-04-26 00:20:00        NaN       NaN          NaN  ...    NaN  122.925200      0
2018-04-26 00:20:01        NaN       NaN          NaN  ...    NaN  122.925200      0
2018-04-26 00:20:02        NaN       NaN          NaN  ...    NaN  122.925200      0
2018-04-26 00:20:03        NaN       NaN          NaN  ...    NaN  122.925299      0
2018-04-26 00:20:04        NaN       NaN          NaN  ...    NaN  122.925300      0
...                        ...       ...          ...  ...    ...         ...    ...
2018-04-26 08:28:14        NaN       NaN          NaN  ...    NaN  122.319786      0
2018-04-26 08:28:15        NaN       NaN          NaN  ...    NaN  122.319610      0
2018-04-26 08:28:16        NaN       NaN          NaN  ...    NaN  122.319600      0
2018-04-26 08:28:17        NaN       NaN          NaN  ...    NaN  122.319798      0
2018-04-26 08:28:18        NaN       NaN          NaN  ...    NaN  122.319617      0

[29299 rows x 28 columns]

In [10]:
ds[0]['label']

                     class
timestamp
2018-04-26 00:20:00      0
2018-04-26 00:20:01      0
2018-04-26 00:20:02      0
2018-04-26 00:20:03      0
2018-04-26 00:20:04      0
...                    ...
2018-04-26 08:28:14      5
2018-04-26 08:28:15      5
2018-04-26 08:28:16      5
2018-04-26 08:28:17      5
2018-04-26 08:28:18      5

[29299 rows x 1 columns]

In [13]:
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", target_column=None) # unset target column
ds = ParquetDataset(ds_config, download=False) # no need to download, will error if file already exists

In [16]:
# check content
len(ds), list(ds[0].keys()) # should have no 'label'

(2228, ['signal'])

In [21]:
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", event_type=[EventPrefixEnum.DRAWN]) # get only drawn
ds = ParquetDataset(ds_config, download=False)

In [23]:
len(ds) # should be much smaller

20